.header {
	min-height: 109px;
	padding-top: 20px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	&__item {
		position: relative;
		bottom: 3px;
	}

	&__link {
		display: flex;
		align-items: flex-start;
		margin-right: 34px;
		transition: $transition;

		&:hover .header__link-text::after {
			width: 100%;
		}

		&:active {
			opacity: 0.5;
		}
	}

	&__link-logo {
		margin-right: 10px;
	}

	&__link-text {
		@include font("PT Serif", 400, italic);
		text-transform: uppercase;
		font-size: 13px;
		line-height: 1.2;
		color: $color-black;
		letter-spacing: 0.0001em;

		&::after {
			content: "";
			width: 0px;
			height: 1px;
			display: block;
			background: $color-black;
			transition: $transition;
		}
	}

	&__button {
		width: 191px;
		height: 45px;
		background-color: $color-theme-main;
		border: none;
		@include font("PT Serif", 400, italic);
		text-transform: uppercase;
		font-size: 13px;
		line-height: 1.2;
		color: $color-bg-white;
		cursor: pointer;
		transition: $transition;

		&:hover {
			color: $color-black;
		}

		&:active {
			color: $color-theme-main;
			background-color: $color-black;
		}
	}
}
