.panel {
	min-height: 72px;
	background-color: $color-black;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		display: flex;
		align-items: center;
		height: 72px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 0 21px;
		@include font("Oswald");
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: $color-text-white;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
			text-underline-position: under;
		}

		&-active {
			background-color: $color-theme-main;
		}
	}

	&__label {
		position: relative;
	}

	&__input {
		width: 269px;
		height: 40px;
		outline: none;
		background-color: $color-text-white;
		border: none;
		padding: 14px 30px 14px 12px;
		@include font("Oswald");
		font-size: 14px;

		&::placeholder {
			text-transform: uppercase;
			color: $color-grey-light;
		}

		&[type="search"]::-webkit-search-cancel-button {
			cursor: pointer;
			-webkit-appearance: none;
			width: 16px;
			height: 16px;
      margin-left: 5px;
			background: url("../../images/icons/close.png") center (center / cover)
				no-repeat;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__input-icon {
		position: absolute;
		right: 10px;
		top: 11px;
		opacity: 0.6;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
}
