.panel {
	min-height: $panel-height;
	background-color: $color-black;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		display: flex;
		align-items: center;
		height: $panel-height;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		@include font("Oswald");
		font-size: 19px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: $color-text-white;
		cursor: pointer;
		transition: $transition;

		&:nth-child(1),
		&:nth-child(3) {
			padding: 0 17px;
		}

		&:nth-child(2) {
			padding: 0 15px;
		}

		&:nth-child(4) {
			padding: 0 20px;
		}

		&:nth-child(5) {
			padding: 0 16px;
		}

		&:hover .panel__link::after {
			width: 100%;
			background: $color-text-white;
		}

		&:active {
			opacity: 0.5;
		}

		&--active {
			background-color: $color-theme-main;
		}
	}

	&__link {
		position: relative;
		bottom: -1px;

		&::after {
			content: "";
			width: 0;
			height: 1px;
			display: block;
			margin-top: 2px;
			background: $color-black;
			transition: $transition;
		}
	}

	&__label {
		position: relative;
	}

	&__input {
		position: relative;
		left: 1px;
		width: 271px;
		height: 42px;
		outline: none;
		background-color: $color-text-white;
		border: 1px solid $color-black;
		padding: 14px 30px 14px 12px;
		@include font("Oswald");
		font-size: 15px;
		transition: $transition;

		&:focus {
			box-shadow: 0 0 5px $color-theme-main;
			border: 1px solid $color-theme-main;
		}

		&::placeholder {
			text-transform: uppercase;
			color: $color-grey-light;
		}

		&[type="search"]::-webkit-search-cancel-button {
			cursor: pointer;
			-webkit-appearance: none;
			width: 16px;
			height: 16px;
			margin-left: 5px;
			background: url("../images/icons/close.png") center (center / cover)
				no-repeat;
			opacity: 0.6;
			transition: $transition;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__input-icon {
		position: absolute;
		right: 12px;
		top: 12px;
		opacity: 0.6;
		cursor: pointer;
		transition: $transition;

		&:hover {
			opacity: 1;
		}
	}
}
