@import "base/normalize";
@import "base/clear";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";

* {
	box-sizing: border-box;
}

.container {
	width: 1135px;
	margin: 0 auto;
}

@import "blocks/header";
@import "blocks/panel";
@import "blocks/home";
